.wrapper {
  display: flex;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  justify-content: space-between;
}

.art {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.swapWrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.box {
  background-color: var(--swap-bg);
  border-radius: 20px;
  width: 90%;
  margin: auto;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  color: var(--text);
}

.rowBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}

.rowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb {
  margin-top: 8px;
  margin-bottom: 8px;
}

.inputWrapper {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
  background-color: var(--main-bg);
  border-radius: 12px;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: var(--text);
  font-weight: 500;
}

.label {
  padding-left: 8px;
  color: var(--label);
  font-size: 12px;
}

.header {
  font-weight: 600;
}

.balance {
  padding-right: 12px;
}

.tokenImage {
  display: flex;
  margin-right: 8px;

  & img {
    width: 24px;
  }
}

.inputToken {
  display: flex;
  align-items: center;
}

.inputTokenName {
  display: flex;
  font-weight: 500;
}
