.wrapper {
  height: 100vh;
  overflow: hidden;
  transition: 0.2s linear;
  opacity: 0;
}

.link {
  color: white;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
  }
}

.navigation {
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
}

.main {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    width: 50%;
    opacity: 0.5;
    animation: grow 2s forwards;
  }
}

@keyframes grow {
  from {
    width: 50%;
  }
  to {
    width: 75%;
  }
}

.nfts {
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  transform: translateY(-120px);
  z-index: 2;
  justify-content: space-between;
}

.card {
  width: 300px;
  height: 400px;
  background-color: rgb(49, 48, 48);
  margin: 12px;
  margin-bottom: 32px;
}

.header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
}

@keyframes fadeout {
  from {
    height: 100vh;
    opacity: 1;
  }
  to {
    height: 0vh;
    opacity: 0;
  }
}

.btnShine {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #a0a0a0 0, white 10%, #a0a0a0 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s forwards;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  max-width: 600px;
  font-size: 36px;
  text-decoration: none;
  white-space: break-spaces;
}

.btnShine2 {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #a0a0a0 0, white 10%, #a0a0a0 20%);
  background-position: 0;
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine2 6s forwards;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 36px;
  max-width: 500px;
  text-decoration: none;
}

.btnShine3 {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #a0a0a0 0, white 10%, #a0a0a0 20%);
  background-position: 0;
  opacity: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine3 6s forwards;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 36px;
  max-width: 540px;
  text-decoration: none;
  white-space: break-spaces;
}

@keyframes shine {
  0% {
    opacity: 0.5;
    background-position: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    background-position: 500px;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    background-position: 550px;
  }
}

@keyframes shine2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    background-position: 0;
  }
  60% {
    background-position: 300px;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    background-position: 350px;
  }
}

@keyframes shine3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    background-position: 0;
  }
  60% {
    background-position: 300px;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    background-position: 350px;
  }
}
